

.welcomePage {
    background-image: url("../../public/images/welcomepage_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 2000px;
}

.WelcomeComponent {
    width: 100%;
    height: 100vh;
    border: 1px solid green;
}
.AboutMeComponent {
    height: 540px;
}